div#contact-wrapper {

	#contact-info {
		border-top: 2px solid goldenrod;
		margin-top: 1%;
		padding-top: 1%;

		h4 {
			margin: 0;
			margin-left: 30%;
			text-align: left;
			width: 200px;
		}

		div#bottom-text {
				margin-top: 5%;
		}
	}
}