h2 {
  font-size: 2em;
  margin: 0;
}
div#experiences {
  // background-color: orange;
  display: flex;
  flex-direction: column;
  
  margin: 0 auto;
  padding: 2%;
  width: 80%;


  section {
    // outline: 1px solid black;
    display: flex;
    height: 200px;
    margin: 0 0 10px 0;
    width: 100%;
    border-bottom: 2px solid goldenrod;
    padding-bottom: 20px;

    div.left {
      height: 200px;
      flex: 1;
      // outline: 1px solid black;
      margin-top: 20px;

      div.logo {
        height: 150px;
        text-align: center;
        // outline: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          
        }
      }

      div.thumbnails {
        display: inline-block;
        height: 50px;
        // outline: 1px solid black;
        width: 100%;
        text-align: center;

        img {
          width: 35px;
        }
      }
    }

    div.info {
      flex: 2;
      // outline: 1px solid black;
      text-align: left;
      display: flex;
      align-items: center;

      ul {
        margin: 0;
        padding-left: 40px;

        li {
          list-style-type: square;
        }
      }
    }

  }
}

div#education {
 // background-color: goldenrod;
 display: flex;
 flex-direction: column;
 height: 500px;
 margin: 0 auto;
 padding: 2%;
 width: 80%;

 section {

  img {
    margin-top: 2%;
  }
 }

}