#name {
	float: left;
}

#icons {
	float: right;
}

footer {
	clear: both;
	display: flex;
	justify-content: space-around;
	height: 100px;
	text-align: center;
	margin-top: 3%;

	#footer-icons {

		img {
			height: 50px;
			width: 50px;
		}
	}

	#middleman-credit {
		margin: 0 auto;
		width: 250px;

		div {

			p {
				font-weight: bold;
				font-style: italic;
				vertical-align: center;

			}

			img {
				margin-left: 10px;
				height: 40px;
				width: 40px;
			}

			div#orange {
				position: relative;
				left: 105px;
				top: -50px;
				height: 50px;
				width: 50px;
				border-radius: 75%;
				box-shadow: 3px 3px 3px gray;
				background-color: orange;
				z-index: -5;
			}



		}

	}
}


h1 {
	color: rgb(40, 52, 103);
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
	margin: 0;
	padding-left: 5%;


	span {
		color: $nicholas;
	}
}
