main  {

  div#skills {
	  text-align: left;
	  display: flex;
	  justify-content: space-around;

	  h2 {
	  	font-size: 2.5em;
	  	margin-bottom: 0;
	  }

	  ul {
	  	margin-top: 0;
	    
	    li {
	    	list-style-type: square;
	    }
	  } 
} 
}