div.buttons {
	display: flex;
	justify-content: center;

	button {
		background-color: rgba(138, 242, 33,0.6);
		border: 3px solid goldenrod;
		border-radius: 25px;
		box-shadow: 3px 3px 5px gray;
		margin: 1.5% 2%;
		height: 40px;
		width: 200px;
	}

	button:hover {
		background-color: goldenrod;
	}
}

div#work {
	text-align: left;
	width: 80%;
	margin: 0 auto;

	#team {

		h3 {
			margin-left: 20px;

			span {
				text-decoration: underline;
			}
		}
		section {
			display: flex;
			margin-top: 5%;

			.lefty {
				display: flex;
				flex: 1;
				justify-content: center;
				align-items: center;

				img {
					height: 150px;
					box-shadow: 5px 5px 5px gray;
				}
			}
			.righty {
				flex: 2;
				margin-left: 20px;

				h4 {
					font-size: 1.5em;
				}
			}
		}
	}

	#personal {

		ul {

			li {

				p {
					margin-left: 2%;
				}
			}
		}
	}
}