@charset "utf-8";
@import "normalize";
@import "colors";
@import "header";

body {
  background-color: rgb(238,238,238);
}



main {
  background-color: rgba(200,200,200,0.7);
  box-shadow: 0px 0px 10px gray;
  clear: both;
  margin: 5px auto;
  padding: 5px;
  height: 750px;
  width: 80%;
}

main.contact p {
  display: inline-block;
}

main.contact p strong {
  margin-right: 20px;
  width: 110px;
}


/********* EXPERIENCES & EDUCATION *********/

div#experiences {
  background-color: orange;
  display: flex;
  flex-direction: column;
  height: 650px;
  margin: 0 auto;
  padding: 2%;
  width: 80%;

  section {
    display: flex;
    width: 100%;

    div.left {
      flex: 1;

      div.logo {

      }

      div.thumbnails {
        display: inline-block;
      }
    }

    div.info {
      flex: 2;
    }

  }
}

div#education {
   background-color: goldenrod;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 0 auto;
  padding: 2%;
  width: 80%;
}






footer {
  height: 100px;
  text-align: center;
  margin-top: 20px;

  span {
    background-color: $middleman;
    height: 40px;

    img {

      height: 40px;
      width: 40px;
    }
  }

}