<footer>
	<div id="footer-icons">
		<a href="https://www.linkedin.com/in/nicholasblock78
		"><img src="images/linkedin-logo.png" alt="LinkedIn Logo" height="50px" width="50px"/></a>
		<a href="https://github.com/nicholasblock78"><img src="images/github-logo.png" alt="Github Logo" height="50px" width="50px" /></a>
	</div>

	<div id="middleman-credit">
		<p>Built using MiddleMan <span><%= image_tag 'middleman-logo.svg' %></span></p>
	</div>
</footer>