<div id="about">
	<h2>About Me</h2>
	<div id="about-img">
		<img src="images/me.png" alt="Picture of Me" height="200px" />
	</div>

	<h4 id="slogan"><em>"Creative health nut turned curious developer <br />
		eager to inspire and change the world <br />
		one line of code at a time."</em></h4>
	<h3>Who am I?</h3>

	<h3>Why coding?</h3>
	<p>I graduated from the University of Iowa in 2014 with a degree in Health &amp; Human Physiology. Up until this point, I was mainly interested in nutrition/food and the exercise/sport sciences. I spent two summers as a camp counselor accompanying kids on overnight trips around the Midwest. For an outdoor adventure camp, these summers were epic so I've included a page to share some of the fun. Unsure of how to utilize this degree, my plan after college was to work my way up in these fields of interest. I spent time in numerous restaurant settings while taking personal training classes. Nothing stuck. Disillusioned, I knew I needed a change. That's when I found <em>The Creative Circus</em> in Atlanta, GA. </p>
	<p>My summer in Atlanta was an incredible experience. It explosed me to the field of Interactive Development, and taught me to not to be afraid of putting my ideas out there. I learned to become very comfortable being uncomfortable - essential in the field of programming, as I'm finding out.</p>
	<h3>Inspiration</h3>
	<p>Losing over 120 pounds and keeping it off. What an incredible difference it's made in my life! I hope some of my work will help enable others acheive the same results and happiness.</p>
</div>