<div id="about">
	<h2>About Me</h2>
	<div id="about-img">
		<img src="images/me.png" alt="Picture of Me" height="200px" />
	</div>

	<h4 id="slogan"><em>"Creative health nut turned curious developer <br />
		eager to inspire and change the world <br />
		one line of code at a time."</em></h4>
	<h3>Who am I?</h3>

	<h3>Why coding?</h3>
	<p>I graduated from the University of Iowa in 2014 with a degree in Health &amp; Human Physiology. Up until this point, I was mainly interested in nutrition/food and the exercise/sport sciences. I spent my summers camp counseling kids on overnight trips around the Midwest for an outdoor adventure camp. These summers were epic so I've included a page to share some of the fun. Unsure of how to utilize this degree, my plan after college became to work my way up in these fields of interest. I spent time in numerous restaurant settings while taking personal training classes. Nothing stuck. Disillusioned, I knew I needed a change. That's when I found <em>The Creative Circus</em> of Atlanta, GA. </p>
	<p>A summer of a new city with warm weather and access to all new people and new ideas sparked and an incredible experience. It awoke me to two things: 1) Interactive Development or coding. 2) Not to be afraid of putting my ideas out there. The latter made me very comfortable being uncomfortable - an essential in the land of programming, as I would come to find out.</p>
	<h3>Inspiration</h3>
	<p>Two of my greatest inspirations are Robin Williams and Steve Jobs. Their compassion and drive to live their life to the fullest while desperately trying to leave the world a better place than they found it.</p>
</div>