<h2>Contact Information</h2>
<div id="contact-wrapper">
	<div id="contact-info">
		<div id="phone">
			<h4>Phone Number:</h4>
			<p>(847) 650-7028</p>
		</div>
		<div id="email">
			<h4>Email:</h4>
			<p>nicholasblock78@gmail.com</p>
		</div>
		<div id="bottom-text">
			<p>I strive to improve my site a little every day in one way or another. If you have any recommendations, please reach out!</p>
			<p>You can find links to my LinkedIn and Github pages in the footer below.</p>
		</div>
	</div>
</div>