<h2>Contact Information</h2>
<div id="phone">
	<p><strong>Phone Number: </strong></p>
	<p>(847) 650-7028</p>
</div>
<div id="email">
	<p><strong>Email: </strong></p>
	<p>nicholasblock78@gmail.com</p>
</div>
<div>
	<p>You can find links to my LinkedIn and Github pages in the footer below.</p>
</div>
