		<h2>Experiences</h2>
		<div>
			<img src="images/dbclogo.png" alt="Dev Bootcamp Logo" height="30px"/>
			<h3>Dev Bootcamp</h3>
			<p>19-week intensive coding bootcamp for full stack web development.</p>
			<p>Ruby. Ruby on Rails. Javascript. SQL. Active Record. Sinatra. jQuery. AJAX.</p>
		</div>
		<div>
			<img src="images/choppingblock.jpg" alt="Chopping Block Logo" height="75px" />
			<h3>The Chopping Block</h3>
			<p>Prepared appetizers for guests and served alcohol to patrons during classes and parties</p>
			<p>Instructed patrons on cooking skills during parties while leading a recipe(s) station</p>
			<p>Assissted leading cooking bootcamps for kids and adults alike</p>
		</div>
			<div>
			<img src="images/creativecircus.png" alt="Creative Circus Logo" height="100px" />
			<h3>The Creative Circus</h3>
			<p>Eight week intensive creative advertising bootcamp in Atlanta, GA.</p>
		</div>
			<div>
			<img src="images/pdhp-logo.png" alt="PDHP Logo" height="75px" />
			<h3>Outdoor Adventure Camp</h3>
			<p>Assisted in leading a summer overnight adventure camp with 13 middle school-aged kids</p>
			<p>Drove 15-passenger van (“Mini Bus”) to various camping sites in Midwest each week</p>
			<p>Led many outdoor recreational activities, such as hiking and kayaking</p>
		</div>
		<h2>Education</h2>
		<div>
			<img src="images/iowa.gif" alt="Iowa Logo" height="40px" />
			<h3>University of Iowa</h3>
			<p>BA Health and Human Physiology, 2015</p>
		</div>
		<div>
			<img src="images/iwu-logo.png" alt="IWU Logo" height="40px" />
			<h3>Illinois Wesleyan University</h3>
			<p>Attended freshman year</p>
		</div>