<h2>Skills</h2>
<ul>
	<p>Currently studying</p>
	<li>React</li>
	<li>React Native</li>
	<li>Google Maps API</li>
</ul>
<ul>
	<p>Current Skills and Technologies</p>
	<li>Ruby</li>
	<li>Ruby on Rails</li>
	<li>HTML5</li>
	<li>CSS3</li>
	<li>jQuery and AJAX</li>
	<li>Agile Workflow</li>
	<li>SQL</li>
	<li>Active Record</li>
</ul>
	<ul>
	<p>Dabbled In</p>
	<li>Angular</li>
	<li>Ionic</li>
	
</ul>