<h2>Skills</h2>
<div id="skills">
	<div>
		<h3>Current Skills &amp; Technologies</h3>
		<ul>
			<li>Ruby</li>
			<li>Ruby on Rails</li>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>SQL</li>
			<li>Sass</li>
			<li>jQuery and AJAX</li>
			<li>PostgreSQL</li>
			<li>sqlite</li>
			<li>Agile Workflow</li>
			<li>Sinatra</li>
			<li>Active Record</li>
			<li>MiddleMan</li>
		</ul>
	</div>
	<div class="skills">
		<h3>Software Experienced With</h3>
		<ul>
			<li>Sumo Logic</li>
			<li>DB Visualizer</li>
			<li>Datadog</li>
			<li>Salesforce</li>
			<li>AWS EC2</li>
			<li>Heroku</li>
			<li>JIRA</li>
			<li>Google Drive</li>
			<li>Slack</li>
			<li>Adobe Photoshop</li>
			<li>Adobe Illustrator</li>
			<li>iMovie</li>
		</ul>
	</div>
	<div>
		<h3>Dabbled In</h3>
		<ul>
			<li>Angular</li>
			<li>Ionic</li>
			<li>Google Maps API</li>
		</ul>
	</div>
	<div>
		<h3>Currently studying</h3>
		<ul>
			<li>Java</li>
			<li>Javascript</li>
		</ul>
	</div>
	<div>
		<h3>On the Docket</h3>
		<ul>
			<li>Python</li>
			<li>node.js</li>
			<li>Webpack</li>
			<li>MERN Stack</li>
			<li>Haml and/or Pug (formerly Jade)</li>
			<li>Social Media APIs</li>
			<li>Modernizr</li>
			<li>Firebase</li>
			<li>Bootstrap</li>
			<li>less</li>
			<li>React &amp; React Native</li>
		</ul>
	</div>
</div>
