<h2>My Work</h2>
<div>
	<h3>Team Projects</h3>
	<ul>
		<li>
			<img src="images/recipe.png" alt="Recip-E Logo" height="100px"/>
			<p><strong>Recip-E</strong></p>
			<p>Dev Bootcamp's Final Project</p>
			<p>Check it out on the Google Play store <a href="https://play.google.com/store/apps/details?id=com.ionicframework.recipefrontend129174&hl=en">here</a>!</p>
			<ul>
				<li>Goal to create a cross-platform mobile first app in a week with a team unfamiliar with Angular and Ionic</li>
				<li>Operated in both front end and back end capacity. Coordinated categories for organizing ingredients</li>
				<li>Created keynote presentation for the pitch at graduation</li>
			</ul>
		</li>
		<li>
			<p><strong>Pharoah</strong></p>
			<p>The Creative Circus's Final Project</p>
		</li>
	</ul>
</div>
<div>
	<h3>Personal Projects</h3>
	<ul>
		<li>
			<p><strong><a href="http://www.eatforus.com">Eat for Us</a></strong></p>
			<p>A sustainable food blog</p>
		</li>
		<li>
			<p><strong>Paws On Foot</strong></p>
			<p>A business I wanted to start back in college</p>
		</li>
	</ul>
</div>
