<h2>My Work</h2>
<div id="work">
	<div id="team">

		<h3><span>Team</span> Projects</h3>
		<section>
			<div class="lefty">
				<img src="images/recipe.png" alt="Recip-E Logo"/>
			</div>
			<div class="righty">
				<h4><strong>Recip-E</strong></h4>
				<p>Dev Bootcamp's Final Project</p>
				<p>Check it out on the Google Play store <a href="https://play.google.com/store/apps/details?id=com.ionicframework.recipefrontend129174&hl=en">here</a>!</p>
				<ul>
					<li>Goal to create a cross-platform mobile first app in a week with a team unfamiliar with Angular and Ionic</li>
					<li>Operated in both front end and back end capacity. Coordinated categories for organizing ingredients</li>
					<li>Created keynote presentation for the pitch at graduation</li>
				</ul>
			</div>
		</section>
		<section>
			<div class="lefty">
			<%= image_tag 'pharaoh.jpg' %>
			</div>
			<div class="righty">
				<h4><strong>Pharoah</strong></h4>
				<p>The Creative Circus's Final Project</p>
			</div>
		</section>
		<section>
			<div class="lefty">
			<iframe width="360" height="200" src="https://www.youtube.com/embed/sVS7KIPuMYk" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="righty">
				<h4><strong>Video Week @ The Circus</strong></h4>
				<p>Our prompt was a 3 min horror video that including a specific name and a cane prop</p>
			</div>
		</section>
	</div>

	<div id='personal'>
		<h3>Personal Projects</h3>
		<p><em>More coming here soon!</em></p>
		<p>Currently working on upping my skill level with Rails</p>
		<ul>
			<li>
				<p><strong><a target="_blank" href="http://www.eatforus.com">Eat for Us</a></strong></p>
				<p>A sustainable food blog</p>
				<p>Built on Rails</p>
			</li>
			<li>
				<p><strong><a target="_blank" href="https://huddle-up-sports.herokuapp.com/">Huddle Up Sports</a></strong></p>
				<p>A web app to find sports games around you to play in</p>
				<p>Built on Rails</p>
			</li>
			<li>
				<p><strong>Paws On Foot</strong></p>
				<p>A business I wanted to start back in college</p>
			</li>
		</ul>
	</div>
</div>